@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400&family=Inter:wght@300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html,
  body {
    @apply bg-warm-beige text-ink font-sans antialiased overflow-x-hidden selection:bg-gold/30;
    overscroll-behavior-y: none;
    background-color: red !important;
    /* DEBUGGING */
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

@keyframes slow-pan {

  0%,
  100% {
    transform: scale(1.25) translate(0, 0);
  }

  50% {
    transform: scale(1.35) translate(-1%, -1%);
  }
}

.animate-slow-pan {
  animation: slow-pan 15s ease-in-out infinite;
}

@keyframes color-wave {

  0%,
  100% {
    filter: hue-rotate(0deg) brightness(1);
  }

  50% {
    filter: hue-rotate(15deg) brightness(1.2);
  }
}

.animate-color-wave {
  animation: color-wave 8s ease-in-out infinite;
}

@keyframes shimmer-strong {
  0% {
    transform: translateX(-150%) skewX(-20deg);
  }

  50%,
  100% {
    transform: translateX(150%) skewX(-20deg);
  }
}

.animate-shimmer-strong {
  animation: shimmer-strong 2.5s infinite;
}